In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [6]:
# Lecture de la base de données

# Construire le chemin d'accès au dataset
script_dir = os.path.abspath('')
relative_path = 'dataset/regularite-mensuelle-tgv-aqst.csv'
csv_path = os.path.join(script_dir, relative_path)

# Chargez le fichier CSV
data = pd.read_csv(csv_path, delimiter=";")
print(data.head())

      date   service         gare_depart         gare_arrivee  duree_moyenne  \
0  2018-01  National    BORDEAUX ST JEAN   PARIS MONTPARNASSE            141
1  2018-01  National   LA ROCHELLE VILLE   PARIS MONTPARNASSE            165
2  2018-01  National  PARIS MONTPARNASSE              QUIMPER            220
3  2018-01  National  PARIS MONTPARNASSE              ST MALO            156
4  2018-01  National  PARIS MONTPARNASSE  ST PIERRE DES CORPS             61

   nb_train_prevu  nb_annulation  commentaire_annulation  \
0             870              5                     NaN
1             222              0                     NaN
2             248              1                     NaN
3             102              0                     NaN
4             391              2                     NaN

   nb_train_depart_retard  retard_moyen_depart  ...  nb_train_retard_sup_15  \
0                     289            11.247809  ...                     110
1                       8             2.875000  ...                      22
2                      37             9.501351  ...                      26
3                      12            19.912500  ...                       8
4                      61             7.796995  ...                      17

   retard_moyen_trains_retard_sup15  nb_train_retard_sup_30  \
0                          6.511118                      44
1                          5.696096                       5
2                          7.548387                      17
3                          6.724757                       6
4                          3.346487                       6

   nb_train_retard_sup_60  prct_cause_externe prct_cause_infra  \
0                       8           36.134454        31.092437
1                       0           15.384615        30.769231
2                       7           26.923077        38.461538
3                       4           23.076923        46.153846
4                       0           21.212121        42.424242

   prct_cause_gestion_trafic  prct_cause_materiel_roulant  \
0                  10.924370                    15.966387
1                  38.461538                    11.538462
2                  15.384615                    19.230769
3                   7.692308                    15.384615
4                   9.090909                    21.212121

   prct_cause_gestion_gare  prct_cause_prise_en_charge_voyageurs
0                 5.042017                              0.840336
1                 3.846154                              0.000000
2                 0.000000                              0.000000
3                 7.692308                              0.000000
4                 6.060606                              0.000000

[5 rows x 26 columns]

In [ ]:
#Info sur les types des données du dataset (float, int, object)
print(data.dtypes)

In [ ]:
#Info sur chaque colonne du dataset
print(data.info())

In [ ]:
#On convertit la colonne 'date' du DataFrame en un format de date spécifique (année-mois)
#en utilisant la fonction pd.to_datetime, et on crée une nouvelle colonne "année" pour faciliter le split
data['date'] = pd.to_datetime(data['date'], format='%Y-%m')
data['annee'] = data['date'].dt.year

In [ ]:
#Infos sur le nombre de valeurs nulles (manquantes) dans le dataset
print(data.isnull().sum())