# Fusionner les datasets pour ajouter des features

## Ajout des jours fériés

In [6]:
import pandas as pd
import os

# Charger le dataset des jours fériés
script_dir = os.path.abspath('')
relative_path = 'nb_jours_ferie.csv'
csv_path = os.path.join(script_dir, relative_path)
data_jours_ferie = pd.read_csv(csv_path, delimiter=",")

data_jours_ferie.head()

   annee  mois  nombre_jour_ferie
0   2003     1                  1
1   2003     4                  1
2   2003     5                  3
3   2003     6                  1
4   2003     7                  1

In [7]:
# Charger le dataset des retards de trains
relative_path = 'regularite-mensuelle-tgv-aqst.csv'
csv_path = os.path.join(script_dir, relative_path)
data_retards = pd.read_csv(csv_path, delimiter=";")

data_retards['date'] = pd.to_datetime(data_retards['date'])
data_retards['annee'] = data_retards['date'].dt.year
data_retards['mois'] = data_retards['date'].dt.month

data_retards.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,nb_train_retard_sup_30,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,annee,mois
0,2018-01-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,NaN,289,11.247809,...,44,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336,2018,1
1,2018-01-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,NaN,8,2.875000,...,5,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000,2018,1
2,2018-01-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,NaN,37,9.501351,...,17,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000,2018,1
3,2018-01-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,NaN,12,19.912500,...,6,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000,2018,1
4,2018-01-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,NaN,61,7.796995,...,6,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000,2018,1

In [8]:
# Fusionner les deux datasets en utilisant la colonne 'date' comme clé de fusion
merged_data_retard_ferie = pd.merge(data_retards, data_jours_ferie, left_on=['annee', 'mois'], right_on=['annee', 'mois'], how='left')

# Remplace les valeurs NaN par 0
merged_data_retard_ferie = merged_data_retard_ferie.fillna(0)
# Le résultat sera un nouveau dataset avec toutes les colonnes des deux datasets
merged_data_retard_ferie.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,annee,mois,nombre_jour_ferie
0,2018-01-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,0.0,289,11.247809,...,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336,2018,1,1.0
1,2018-01-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,0.0,8,2.875000,...,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000,2018,1,1.0
2,2018-01-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,0.0,37,9.501351,...,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000,2018,1,1.0
3,2018-01-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,0.0,12,19.912500,...,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000,2018,1,1.0
4,2018-01-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,0.0,61,7.796995,...,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000,2018,1,1.0

In [9]:
# Pour enregistrer le résultat dans un nouveau fichier CSV
# merged_data_retard_ferie.to_csv('retard_jferies.csv', index=False)

## Ajout des vacances

In [10]:
# Charger le dataset des jours fériés de vacances
relative_path = 'vacation_month_ratio.csv'
csv_path = os.path.join(script_dir, relative_path)
data_vacations = pd.read_csv(csv_path, delimiter=",")

data_vacations.head()

   annee  mois  jours_vacances  total_jours  ratio_vacances
0   2017    10              33           31        1.064516
1   2017    11              18           30        0.600000
2   2017    12              27           31        0.870968
3   2018     1              24           31        0.774194
4   2018     2              34           28        1.214286

In [11]:
# Fusionner les deux datasets en utilisant la colonne 'date' comme clé de fusion
merged_data_retard_ferie_vacation = pd.merge(merged_data_retard_ferie, data_vacations, left_on=['annee', 'mois'], right_on=['annee', 'mois'], how='left')

# Remplace les valeurs NaN par 0
merged_data_retard_ferie_vacation = merged_data_retard_ferie_vacation.fillna(0)
# Le résultat sera un nouveau dataset avec toutes les colonnes des deux datasets
merged_data_retard_ferie_vacation.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,annee,mois,nombre_jour_ferie,jours_vacances,total_jours,ratio_vacances
0,2018-01-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,0.0,289,11.247809,...,10.924370,15.966387,5.042017,0.840336,2018,1,1.0,24.0,31.0,0.774194
1,2018-01-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,0.0,8,2.875000,...,38.461538,11.538462,3.846154,0.000000,2018,1,1.0,24.0,31.0,0.774194
2,2018-01-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,0.0,37,9.501351,...,15.384615,19.230769,0.000000,0.000000,2018,1,1.0,24.0,31.0,0.774194
3,2018-01-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,0.0,12,19.912500,...,7.692308,15.384615,7.692308,0.000000,2018,1,1.0,24.0,31.0,0.774194
4,2018-01-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,0.0,61,7.796995,...,9.090909,21.212121,6.060606,0.000000,2018,1,1.0,24.0,31.0,0.774194

In [12]:
# Pour enregistrer le résultat dans un nouveau fichier CSV
# merged_data_retard_ferie_vacation.to_csv('retard_ferie_vacation.csv', index=False)

# Ajout de données sur les grèves

In [15]:
# Charger le dataset des jours fériés de vacances
relative_path = 'greves.csv'
csv_path = os.path.join(script_dir, relative_path)
data_greves = pd.read_csv(csv_path, delimiter=",")

data_greves.head()

,annee,mois,Nombre de grèves,Motif exprimé,Ratio taux gréviste
0,2018,2,1,Manif à Paris - annulée / Politique d'entreprise,0.242857
1,2018,3,1,Egalité des droits H/F,0.006452
2,2018,3,1,Reforme de la SNCF / Manif de la fonction pupl...,1.141935
3,2018,4,12,Reforme de la SNCF,10.286667
4,2018,5,12,Reforme de la SNCF,7.200000

In [16]:
# Fusionner les deux datasets en utilisant la colonne 'date' comme clé de fusion
merged_data_retard_ferie_vacation_greves = pd.merge(merged_data_retard_ferie_vacation, data_greves, left_on=['annee', 'mois'], right_on=['annee', 'mois'], how='left')

# Remplace les valeurs NaN par 0
merged_data_retard_ferie_vacation_greves = merged_data_retard_ferie_vacation_greves.fillna(0)
# Le résultat sera un nouveau dataset avec toutes les colonnes des deux datasets
merged_data_retard_ferie_vacation_greves.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,prct_cause_prise_en_charge_voyageurs,annee,mois,nombre_jour_ferie,jours_vacances,total_jours,ratio_vacances,Nombre de grèves,Motif exprimé,Ratio taux gréviste
0,2018-01-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,0.0,289,11.247809,...,0.840336,2018,1,1.0,24.0,31.0,0.774194,0.0,0,0.0
1,2018-01-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,0.0,8,2.875000,...,0.000000,2018,1,1.0,24.0,31.0,0.774194,0.0,0,0.0
2,2018-01-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,0.0,37,9.501351,...,0.000000,2018,1,1.0,24.0,31.0,0.774194,0.0,0,0.0
3,2018-01-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,0.0,12,19.912500,...,0.000000,2018,1,1.0,24.0,31.0,0.774194,0.0,0,0.0
4,2018-01-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,0.0,61,7.796995,...,0.000000,2018,1,1.0,24.0,31.0,0.774194,0.0,0,0.0

In [17]:
merged_data_retard_ferie_vacation_greves.to_csv('retard_ferie_vacation_greves.csv', index=False)